/* Applicable To All Documents*/
* {
    box-sizing: border-box;
    margin: 0;
}

/* Applicable To All Elements Within The <body> Element */
body {
    background-color: #d9dcd6;
}

/* Applicable To All Elements Within The <header> Element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* Applicable To The Main Heading Element "<h1>" (Horiseon) */
h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
}

/* Applicable To The Secondary Heading Element "<h2>" */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applicable To The Third Heading Element "<h3>" */
h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Applicable To The <span> Element ("SEO" In Horiseon Heading <h1>) */
span {
    color: #d9dcd6;
}

/* Applicable To All Navigation Links On The Web Page */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Applicable To All Listed Elements On The Web Page */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Applicable To All Hyperlinks On The Webpage */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Applicable To All Paragraphs On The Web Page */
p {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Applicable To The <div> Element (Main Web Page Image) */
div {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Applicable To The Left Hand Side Content ("Main Services") */
.Main-Services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Applicable To The Images Featured On The Left (SEO And Social Media Marketing) */
.Left-Sided-Images {
    float: left;
    margin-right: 25px;
}

/* Applicable To The Image Featured On The Right (Online Reputation Management) */
.Right-Sided-Image {
    float: right;
    margin-left: 25px;
}

/* Applicable To The SEO, Online Reputation And Social Media Marketing Sections Of The Main Content */
.Three-Main-Services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Applicable To All Three Images For The SEO, Online Reputation And Social Media Marketing Sections Of The 
Main Content */
.Three-Main-Services img {
    max-height: 200px;
}

/* Applicable To The Section To The Right Of The Web Page (Advantages Of Horiseon) */
aside {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Applicable To The Sections Outlining The Advantages Of Horiseon */
.Horiseon-Advantages {
    margin-bottom: 32px;
}

/* Applicable To The Images Of The Advantages Sections */
.Horiseon-Advantages img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applicable To The Footer Of The Web Page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Applicable To The Content Of The Footer */
.Footer-Content {
    font-size: 20px;
    color: black
}